
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="jpgarzon">
    <link rel="icon" href="../../favicon.ico">

    <title>SAGA-Obras</title>

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="../libs/Font-Awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/navbar.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">

    <link href="../css/admin.css" rel="stylesheet">
    <link href="../css/map.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="../../Resources/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="../libs/ol/ol.css" type="text/css">
	<link href="../libs/datepicker/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../js/ie-emulation-modes-warning.js"></script>
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="../libs/ol/ol.js"></script>
    

  </head>

  <body>
   <div class="containerDash">
      <div id="products" class="row list-group">
         <!-- COLUMNA 1/2 FILTROS, TOTAL Y GRÁFICA -->
         <div class="item  col-xs-12 col-md-12 col-lg-2">
            <div class="row">
              <!-- LOGOS GOBER -->
               <div class="col-lg-12 col-md-12">
                  <center>
                     <a  href="#">
                     <img src="../images/logos_gobernacion.png" class="LogoMap"  >
                     </a>
                  </center>
               </div>
              <!-- FILTROS - PARAMETROS DE BUSQUEDA -->
               <div class="col-lg-12 col-md-6 col-xs-12">
                  <div class="panel ">
                     <form >
                        <div class="form-group">
                           <label for="idFte">Fuentes:</label>
                           <select id="idFte" multiple="multiple">&nbsp;</select>       
                        </div>
                        <div class="form-group">
                           <label for="sel_id_tipoc">Tipo:</label>
                           <select id="sel_id_tipoc" >&nbsp;</select>
                        </div>
                        <div class="form-group">
                           <label for="sel_id_subtipoc">sub Tipo:</label>
                           <select id="sel_id_subtipoc" >&nbsp;</select>
                        </div>
                        <div class="form-group">
                           <label for="semaforo">Semaforo:</label>
                           <select class="form-control" id="semaforo">
                              <option  value="all">--Todos--</option>
                              <option value="3">Verde</option>
                              <option value="2">Amarillo</option>
                              <option value="1">Rojo</option>
                           </select>
                        </div>
                     </form>
                  </div>
               </div>
              <!-- FILTROS - FECHAS -->
               <div class="col-lg-12 col-md-6 col-xs-12">
                  <div class="panel ">
                     <form>
                        <div class="form-group">
                           <label for="fechaIni" >Inicial:</label><br>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-md-2">
                                 </div>
                                 <div class="col-md-8">
                                    <div class="form-group">
                                       <div class='input-group date' id='fechaDatosMin'>
                                          <input type='text' class="form-control" />
                                          <span class="input-group-addon">
                                          <span class="glyphicon glyphicon-calendar"></span>
                                          </span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                 </div>
                              </div>
                           </div>
                           <label for="fechaFin" >Final:</label><br>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-md-2">
                                 </div>
                                 <div class="col-md-8">
                                    <div class='input-group date' id='fechaDatosMax'>
                                       <input type='text' class="form-control" />
                                       <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
               <!-- BOTÓN BUSCAR -->
               <div class="col-lg-12 col-md-12 col-xs-12">
                  <button type="button" class="btn btn-danger btn-block" id="btonBuscar">Buscar</button><br>
               </div>
               <!-- GRAFICA SUBTIPO -->
               <div class="col-lg-12 col-md-12 col-xs-12">
                  <div id="container" style="min-width: 310px; height: 200px; max-width: 600px; margin: 0 auto"></div>
               </div>
               <!-- LABEL TOTAL  -->
               <div class="col-lg-12 col-md-12 col-xs-12">
                  <div class="panel panel-primary">
                     <div class="panel-heading">
                        <h5>
                           <center>Total Obras</center>
                        </h5>
                        <h4>
                           <center><b><span id="CantTotal">0 (0%)</span></b></center>
                        </h4>
                     </div>
                  </div>
                  <br>
               </div>
               <!-- LOGO -->
               <div class="col-lg-12 col-md-12 col-xs-12">
                  <br>
                  <div id="logosSec">
                     <center>
                        <a  href="#">
                        <img src="../images/sec.png" class="LogoMap" style="max-width: 200px; margin: 0 auto">
                        </a>
                     </center>
                     <br>
                  </div>
               </div>
            </div>
         </div>
         <!-- COLUMNA 2/2 MAPAS Y GRAFICA -->
         <div class="item  col-xs-12 col-md-12 col-lg-10">
            <!-- MAPA PROVINCIA  -->
            <!-- div class="item  col-xs-12 col-lg-6 col-md-6">
               <div class="panel panel-green ">
                  <div class="panel-heading">
                     <h2>Obras - Provincia</h2>
                  </div>
                  <div class="panel-body">
                     <div id="PanelLeyendacod_prov"  class="PanelLeyendacod_prov" >
                        <div class="panel panel-primary">
                           <div  class="panel-body" style="max-width: 300px;">
                              <center><b>Cantidad</b></center>
                              <div id="symbolscod_prov"> </div>
                              <div id="labelscod_prov"> </div>
                           </div>
                        </div>
                     </div>
                     <div id="cod_prov">
                        <div id="info"></div>
                     </div>
                     <img src="../images/logo.png" class="LogoSaga"  >
                  </div>
               </div>
            </div -->
            <!-- MAPA MUNICIPIO -->
            <div class="item  col-xs-12 col-lg-12 col-md-12">
               <div class="panel panel-orange ">
                  <div class="panel-heading">
                     <h2>Obras - Municipios </h2>
                  </div>
                  <div class="panel-body">
                     <div id="PanelLeyendacod_mpio"  class="PanelLeyendacod_mpio" >
                        <div class="panel panel-primary">
                           <div  class="panel-body" style="max-width: 300px;">
                              <center><b>Cantidad</b></center>
                              <div id="symbolscod_mpio"> </div>
                              <div id="labelscod_mpio"> </div>
                           </div>
                        </div>
                     </div>
                     <div id="cod_mpio">
                     </div>
                     <div id="info2"></div>
                     <img src="../images/logo.png" class="LogoSaga"  >
                  </div>
               </div>
            </div>
            <!-- GRAFICA COLUMNAS PROVINCIA -->
            <!-- div class="item  col-xs-12 col-lg-6 col-md-6 ">
               <div id="col_cod_prov">
               </div>
            </div -->
            <!-- GRAFICA COLUMNAS MUNICIPIO -->
            <div class="item  col-xs-12 col-lg-12 col-md-12 ">
               <div id="col_cod_mpio">
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- /container -->
   <!-- Bootstrap core JavaScript
      ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="../js/jquery.min.js"></script>
   <script src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="../libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
   <script src="../libs/waitingDialog/waitingDialog.js"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="../js/ie10-viewport-bug-workaround.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/highcharts-3d.js"></script>
   <script src="../libs/moment/moment-with-locales.min.js"></script>
   <script src="../libs/socket/socket.io.js"></script>
   <script src="../libs/topojson/topojson.min.js"></script>
   <script src="../libs/Crypto/core-min.js"></script>
   <script src="../libs/Crypto/aes.js"></script>
   <script src="../libs/geocolor/geocolor.js"></script>
   <script src="../libs/numeraljs/numeral.min.js"></script>
   <script src="../../Resources/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
   <script src="../libs/datepicker/js/bootstrap-datetimepicker.min.js"></script>
   <!-- APP -->
   <script src="../js/app/Config.js"></script>
   <script src="../js/app/Func.js"></script>
   <script src="../js/app/Map.js"></script>
   <script src="../js/app/Main.js"></script>
</body>
</html>
