<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>SAGA</title>
  <meta name="description" content="">
  <meta name="author" content="">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <!-- CSS Resources -->
  <link href="../../Resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../Resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../../Resources/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../Resources/BootstrapDialog/css/bootstrap-dialog.min.css" rel="stylesheet">
  <link href="../../Resources/Animate/animate.css" rel="stylesheet">
  <link href="../../Resources/ol3/ol.css" rel="stylesheet">
  <link href="../../Resources/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet">
  
    <!-- CSS app -->
  <link href="../../Content/Home/NavMap.css" rel="stylesheet">
  <link href="../../Content/Home/ContentMap.css" rel="stylesheet">
  <style>
  	a {
	    text-decoration: none !important;
	}
	h4 {
		    margin-left: 5% !important;
	}
	tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
  </style> 
  
</head>
<body>

<table id="TBList" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>No Convenio</td>
                <td>No Contrato</td>
                <td>Obj. Contrato</td>
                <td>F. Inicio</td>
                <th>Plazo (días)</th>
                <th>Valor contratado</th>
                <th>% Avance</th>
                <th>Semaforo</th>
                <th>id_gestion</th>
                <th>Detalle</th>
                <!--th>N Convenio Marco</th>
                <th>Objeto</th>
                <th>F. convenio</th>
                <th>Plazo(días)</th>
                <th>N contrato</th>
                <th>F. inicio</th>
                <th>Valor</th>
                <th>% Avance</th>
                <th>Semaforo</th>
                <th>id_gestion</th>
                <th>Opciones</th -->
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td>No Convenio</td>
                <td>No Contrato</td>
                <td>Obj. Contrato</td>
                <td>F. Inicio</td>
                <th>Plazo (días)</th>
                <th>Valor contratado</th>
                <th>% Avance</th>
                <th>Semaforo</th>
                <th>id_gestion</th>
                <th>Detalle</th>
                <!--th>N Convenio Marco</th>
                <th>Objeto</th>
                <th>F. convenio</th>
                <th>Plazo(días)</th>
                <th>N contrato</th>
                <th>F. inicio</th>
                <th>Valor</th>
                <th>% Avance</th>
                <th>Semaforo</th>
                <th>id_gestion</th>
                <th>Opciones</th-->
            </tr>
        </tfoot>
        <tbody id="TBody">&nbsp;</tbody>
</table>	
</body>
	<!-- script Resources -->
	<script src="../../Resources/Numeral/numeral.js"></script>
	<script src="../../Resources/moment/moment-with-locales.min.js"></script>
	<script src="../../Resources/socket/socket.io.js"></script>
	<script src="../../Resources/Jquery/jquery-1.12.4.js"></script>
	<script src="../../Resources/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../Resources/ie/js/ie-emulation-modes-warning.js"></script>
	<script src="../../Resources/ie/js/ie10-viewport-bug-workaround.js"></script>	
	<script src="../../Resources/socket/socket.io.js"></script>				
	<script src="../../Resources/bootbox/bootbox.min.js"></script>
	<script src="../../Resources/Crypto/crypto-js.js"></script>
	<!--script src="../../Resources/Crypto/aes.js"></script-->
	<script src="../../Resources/BootstrapDialog/js/bootstrap-dialog.min.js"></script>
	<script src="../../Resources/bootstrap-notify/bootstrap-notify.min.js"></script>
	<script src="../../Resources/fastclick/fastclick.min.js"></script>
	<script src="../../Resources/DataTables/media/js/jquery.dataTables.min.js"></script>
	
	<!-- app Resources -->
	<script src="../../Scripts/AppConfig.js"></script>
	<script src="../../Scripts/Func.js"></script>
	<script src="../../Scripts/Home/Navbar.js"></script>
	<script src="../../Scripts/Gestiones/GestionesMapa.js"></script>
	
</html>
