<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>SAGA</title>
  <meta name="description" content="">
  <meta name="author" content="">
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <!-- CSS Resources -->
  <link href="../../Resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../Resources/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="../../Resources/FontAwesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../Resources/BootstrapDialog/css/bootstrap-dialog.min.css" rel="stylesheet">
  <link href="../../Resources/Animate/animate.css" rel="stylesheet">
  <link href="../../Resources/ol3/ol.css" rel="stylesheet">
  <link href="../../Resources/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="../../Resources/bootstrap-slider/css/bootstrap-slider.min.css" rel="stylesheet">
  <link href="../../Resources/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css" rel="stylesheet"/>
  <link href="../../Resources/fancyapps/source/jquery.fancybox.css" type="text/css" rel="stylesheet"/>
 
  <!-- CSS app -->
  <link href="../../Content/Home/NavMap.css" rel="stylesheet">
  <link href="../../Content/Home/ContentMap.css" rel="stylesheet">
  
</head>
<body>
  <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar">&nbsp;</span>
	        <span class="icon-bar">&nbsp;</span>
	        <span class="icon-bar">&nbsp;</span>                        
	      </button>
	      <a href="#">
	      	<img src="../../Images/Home/logos_gobernacion.png" class="LogoMap"  >
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">
	        	<i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i> Mapa </a></li>
	      </ul>
	      <ul class="nav navbar-nav" id="opcion_listado">
	        <li class="active"><a href="../Gestiones">
	        	<i class="fa fa-list-alt" aria-hidden="true">&nbsp;</i> Listado </a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                    <i class="fa fa-user fa-fw">&nbsp;</i>  <i class="fa fa-caret-down">&nbsp;</i>
	                </a>
	            	<ul class="dropdown-menu dropdown-user">
	                    <li id="Perfil"><a href="#"><i class="fa fa-user fa-fw">&nbsp;</i> Perfil</a>
	                    </li>
	                    <!-- li id="CambiarClave"><a href="#"><i class="fa fa-gear fa-fw">&nbsp;</i> Cambiar Contraseña</a>
	                    </li -->
	                    <li class="divider">&nbsp;</li>
	                    <li id="CerrarSession"><a ><i class="fa fa-sign-out fa-fw">&nbsp;</i> Cerrar sesión</a>
	                    </li>
	                </ul>
	          </li>
	      </ul>
	    </div>
	  </div>
	</nav>
   <!-- Panel Mapa -->
   <div id="map" class="map">
   		<div id="info2">&nbsp;</div>
   	  	<div id="gmap" class="fill">&nbsp;</div>
      	<div id="olmap" class="fill">&nbsp;</div>
      	<div id="leyenda">
            <div id="panel-primary-leyenda" class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">
	        			<a class="panel-title"> <span class="glyphicon glyphicon-list" aria-hidden="true">&nbsp;</span> Leyenda</a>
	        			<div class="pull-right " id="OcultarLayenda">
						  <span><i class="glyphicon glyphicon-remove">&nbsp;</i></span>
						</div>
		      		</h5>

                </div>
                <div id="panel_leyenda" class="panel-body" style="max-width: 300px;">
                    <div class="well" style="max-height: 500px;overflow: auto;">
                        <p><b><span id="LeyendaTasa" >Cantidad De Gestiones</span>
                    	<span id="TituloLeyenda" >&nbsp;</span></b></p>
                        <div id="items" class="divider"> </div>
                    </div>
                </div>
            </div>

        </div>
       	<div id="PanelCapasBase"  class="PanelCapasBase" >
		   	<div id="myCarousel" class="carousel slide">
		    <div class="carousel-inner">
		    	<div class="item active">
			        <div class="row-fluid">
			          <div class="col-sm-12 col-md-12 BaseImg" id="base_osm_calles">
			          	<a href="#" class="thumbnail"><img src="../../Images/Map/base_osm_calles.png"  >
			          		<div class="carousel-caption captionBlue"><center><h6>MapQuest OSM</h6></center></div>
			           	</a>
			          </div>
			        </div><!--/row-fluid-->
			    </div><!--/item-->
		    </div>
		  
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left">&nbsp;</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right">&nbsp;</span>
			  </a>
		    </div><!--/myCarousel-->
		</div>
	  	<select class="form-control" id="espacio">
	    	<option value="Municipio">Municipio</option>
	    	<option value="Provincia">Provincia</option>
	    	<option value="Departamento">Departamento</option>
	  	</select>
		<div class="input-daterange input-group" id="tiempo">
		    <input type="text" class="input-sm form-control" name="finicio" id="finicio" />
		    <span class="input-group-addon">a</span>
		    <input type="text" class="input-sm form-control" name="ffin" id="ffin"/>
		</div>
		<div id="pamenu">
			<div class="panel with-nav-tabs panel-primary">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li id="tevento" class="active"><a href="#tab3primary" data-toggle="tab">Eventos</a></li>
                            <li id="tconsultar"><a href="#tabconsulta" data-toggle="tab" class="label label-success" id="btn_consultar">Consultar&nbsp;<span class="badge" id="txt-conteo">0</span></a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab3primary">
							  	<label for="id_categoria" class="control-label required">Categorización</label>
							  	<select class="form-control" id="id_categoria">
							  		<option value="" selected=""> -- Seleccione -- </option>
							    	<option value="1">Proyecto PDD</option>
							    	<option value="2">Proyecto Estratégico</option>
							    	<option value="3">Gestión / Tarea</option>
								</select><br>
								<label for="avance_porcentaje" class="control-label required">% Avance (0-100)</label><br /><input id="avance_porcentaje" type="text" class="span2" value="" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]"/><br/>
								<label for="id_centrog" class="control-label required">Entidad</label><br/><select id="id_centrog" multiple="multiple">&nbsp;</select><br/>
				    			<label for="cod_meta">Sub Programa - Meta</label><br/><select id="cod_meta" multiple="multiple">&nbsp;</select>
                        </div>
                        <div class="tab-pane fade" id="tabconsulta">
							<!--label class="label-titulo">CONSULTA</label><br -->
							<label class="label-texto" id="txt-espacio">Municipio</label><br>
                        	<label class="label-texto" id="txt-fechaini">(2016-01-01)</label>&nbsp;a&nbsp;<label class="label-texto" id="txt-fechafin">(2016-01-01)</label><br>
                        	<label class="label-texto" id="txt-id_categoria">&nbsp;</label>
                        	<label class="label-texto" id="txt-porcenini">Avance: 0</label>&nbsp;a&nbsp;<label class="label-texto" id="txt-porcenfin">100 %</label><br/>
                        	<label class="label-texto" id="txt-centro">&nbsp;</label>
                        	<label class="label-texto" id="txt-metas">&nbsp;</label>
						</div>
                    </div>
                </div>
            </div>
		</div>
   </div>
   
   <!-- Panel Street View -->
   <div id="PanelStreetView" class="PanelStreetView">&nbsp;</div>
   <!-- Carousel Base Layers -->
	
</body>
	<!-- script Resources -->
	<script src="../../Resources/Numeral/numeral.js"></script>
	<script src="../../Resources/moment/moment-with-locales.min.js"></script>
	<script src="../../Resources/socket/socket.io.js"></script>
	<script src="../../Resources/Jquery/jquery-1.12.3.min.js"></script>
	<script src="../../Resources/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../Resources/ie/js/ie-emulation-modes-warning.js"></script>
	<script src="../../Resources/ie/js/ie10-viewport-bug-workaround.js"></script>	
	<script src="../../Resources/socket/socket.io.js"></script>				
	<script src="../../Resources/bootbox/bootbox.min.js"></script>
	<script src="../../Resources/Crypto/core-min.js"></script>
	<script src="../../Resources/Crypto/aes.js"></script>
	<script src="../../Resources/BootstrapDialog/js/bootstrap-dialog.min.js"></script>
	<script src="../../Resources/growl/bootstrap-growl.min.js"></script>
	<script src="../../Resources/growl/Notificaciones.js"></script>
	<script src="../../Resources/fastclick/fastclick.min.js"></script>
	<script src="../../Resources/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="../../Resources/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
	<script src="../../Resources/bootstrap-slider/bootstrap-slider.min.js"></script>
	<script src="../../Resources/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
	<script src="../../Resources/fancyapps/source/jquery.fancybox.js"></script>
	<script src="../../Resources/topojson/topojson.v1.min.js"></script>
	<script src="../../Resources/turf/turf.min.js"></script>
	<script src="../../Resources/ol3/ol.js"></script>
	
	<!-- app Resources -->
	<script src="../../Scripts/AppConfig.js"></script>
	<script src="../../Scripts/Config.js"></script>
	<script src="../../Scripts/Func.js"></script>
	<script src="../../Scripts/Home/Navbar.js"></script>
	<script src="../../Scripts/Map.js"></script>
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyBKJoVRGZqXty7quRMexjOBrcLEO_VNyGI&v=3&amp;&callback=gmaps.InitMapGoogle"></script>
	<!--script src="http://maps.google.com/maps/api/js?v=3&amp;&callback=gmaps.InitMapGoogle"></script-->
	<script src="../../Scripts/Home/Main.js"></script>
	
</html>
